.c-item {
    height: 480px;
    }
    
    .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    }

    .overview{
        height: 180px;
        background-color: #c7d4e5;
    }
    .pt-md-5, .py-md-5 {
        
        background-color:  #e1edfd;
    }